* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.flex-container{
    width: 100%;
    height: 500px;
    background: pink;
    display: flex;
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: start;
    align-items: center;
    align-items: end; */
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* gap: 10px; */
    /* flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse; */
   align-items: flex-start; flex-shrink: 1;
}


.flex-box {
   /* align-self: stretch;
    flex: 1;    */
    /* width: 150px;
    height: 150px; */
    flex-basis: 100px;
   
   
}

.color4 {
    /* flex: 1; */

}

.flex-content{
    width: 100%;
    height: 100%;
    display: flex;
    background: black;
    flex-shrink: 3;
}
.box {
    width: 10%;
    flex-grow: 3;
    flex-shrink: 3;
    background: salmon;
    
}
.box1 {
    flex-grow: 1;
    flex-shrink: 1;
    background: green;
}















.color1 {
    width: 150px;
    height: 150px;

    background: red;

}
.color2 {
     width: 300px;
    height: 150px;
    background: blue;
}
.color3 {
    width: 500px;
    height: 150px;
    background: green;
}

.color4 {
    width: 200px;
    height: 150px;
    background: black;
}

.flex-box {
    flex-shrink: 3;
}